.card {
  background: #111;
  display: block;
  border: 1px solid #444;
  flex-grow: 1;
}

.card:hover {
  border-color: #f60;
}

.imageBox {
  height: 10em;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hostname {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
  padding: 0.25lh 1ch;
}

.textBox {
  padding: 1ch;
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
