/* card */

.card {
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #444;
  display: flex;
  flex-direction: column-reverse;
}

.card:hover {
  border-color: #666;
}

/* text box */

.textBox {
  padding: var(--vg) 1ch;
  display: flex;
  flex-direction: column;
}

.source {
  color: gray;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.title {
  font-size: 1rem;
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  word-break: break-word;
}

/* image box */

.imageBox {
  flex: 0 0 calc(16 * var(--vg));
  background-position: center;
  background-size: cover;
  min-height: 9rem;
}

/* wide image card */

@media screen and (min-width: 900px) {
  .card {
    flex-direction: row;
  }

  .imageCard .textBox {
    flex-basis: 60%;
  }

  .imageCard .imageBox {
    flex-basis: 40%;
  }
}
