details .comment {
  padding-left: 2em;
}

.comment a {
  color: var(--hn);
  word-break: break-word;
}

.comment a:hover {
  color: var(--hn2);
}

.comment p {
  margin-top: var(--vg);
}

.comment pre {
  overflow-x: auto;
}

.comment summary {
  margin-bottom: 0.7rem;
}

.nokid summary {
  list-style: none;
}