details .comment {
  padding-left: 1em;
}

.comment a {
  color: #f60; /* hsl 24, 100, 50*/
}

.comment a:hover {
  color: hsl(24 80% 70%);
}

.comment summary {
  margin-bottom: 0.7rem;
}

.nokid summary {
  list-style: none;
}
