.dialog {
  height: 100dvh;
  min-width: 600px;
  margin: auto auto 0;
  padding: 0;
  cursor: default;
  border: none;
  color: white;
  --b: #111;
  background-color: var(--b);
  box-sizing: content-box;
}

.dialog.hasComments {
  max-width: 1200px;
}

.dialog a:hover {
  cursor: pointer;
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.dialogTitle {
  font-weight: bold;
  position: sticky;
  top: 0;
  background-color: var(--b);
  padding: calc(1 * var(--vg)) 1rem;
  display: flex;
  justify-content: space-between;
}

.dialogContent {
  padding: calc(1 * var(--vg)) 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.story {
  display: flex;
  flex-direction: column;
  gap: var(--vg);
}

.hnTitle:hover {
  color: #f60;
}

.longSummarization {
  font-size: calc(1em - 2px);
}

.storyText {
  margin-bottom: var(--vg);
}

.discussions > details {
  border-top: 1px solid #444;
  padding-top: var(--vg);
}

@media screen and (min-width: 900px) {
  .dialog {
    height: fit-content;
    margin: auto;
  }
  .dialogTitle {
    padding: calc(2 * var(--vg)) 2rem;
  }
  .dialogContent {
    padding: 0 2rem calc(2 * var(--vg));
  }
  .dialog.hasComments .dialogContent {
    grid-template-columns: 1fr 2fr;
  }
  .discussions {
    height: 75vh;
    overflow-y: auto;
  }
}
