.dialog {
  max-width: 40rem;
  margin: auto;
  padding: 2rem;
  cursor: default;
  border: none;
  color: white;
  background: rgba(10, 10, 10, 0.95);
  box-sizing: content-box;
}

.wideDialog {
  max-width: 80rem;
}

.dialog a:hover {
  cursor: pointer;
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.dialogTitle {
  padding-bottom: calc(2 * var(--vg));
  display: flex;
  justify-content: space-between;
}

.dialogContent {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.story {
  display: flex;
  flex-direction: column;
  gap: var(--vg);
}

.hnTitle:hover {
  color: #f60;
}

.longSummarization {
  font-size: calc(1em - 2px);
}

@media screen and (min-width: 80rem) {
  .dialogContent {
    grid-template-columns: 1fr 2fr;
  }
  .comments {
    max-height: 75vh;
    overflow-y: auto;
  }
}
