.header,
.main,
.footer {
  max-width: 62rem;
  margin: auto;
}

.header {
  padding: calc(5 * var(--vg)) 1rem calc(3 * var(--vg));
}

.footer {
  padding: calc(3 * var(--vg)) 1rem calc(5 * var(--vg));
  display: flex;
  justify-content: space-between;
}

.footer a:hover {
  text-decoration: underline;
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--vg);
}
