.header {
  padding: calc(5 * var(--vg)) 0 calc(3 * var(--vg));
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header a:hover {
  text-decoration: underline;
}

.main {
  --column-count: 1;
  --column-width: 25rem;
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  width: 100%;
  max-width: calc(var(--column-count) * var(--column-width));
  margin: auto;
}

@media screen and (min-width: 50rem) {
  .main {
    --column-count: 2;
  }
}

@media screen and (min-width: 75rem) {
  .main {
    --column-count: 3;
  }
}

@media screen and (min-width: 125rem) {
  .main {
    --column-count: 5;
  }
}
