.header,
.main {
  width: var(--w);
  margin: auto;
}

.header {
  padding: calc(5 * var(--vg)) 0 calc(3 * var(--vg));
}

.main {
  display: flex;
  flex-direction: column;
  gap: calc(2 * var(--vg));
}
