.back {
  padding: var(--vg);
  margin-left: calc(-1 * var(--vg));
  margin-right: 0.5rem;
}

.back:hover {
  background: rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 1rem;
}

.hnTitle {
  font-weight: bold;
}

.hnTitle:hover {
  color: var(--hn);
}

