.story {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
}

.story:hover {
  background: #222;
  cursor: pointer;
}

.hnTitle {
  display: block;
}

.hnTitle a:hover {
  color: #f60;
}
