.title {
  font-size: 1rem
}

.story {
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(2 * var(--vg));
  padding: var(--vg) 0;
}

@media screen and (min-width: 900px) {
  .story {
    grid-template-columns: 3fr 5fr;
    gap: 0
  }
}

.hnTitle {
  font-weight: bold;
}

.hnTitle:hover {
  color: #f60;
}

.summary {
  padding-right: 1rem;
}

.storyText {
  margin-bottom: var(--vg);
}

.discussions>details {
  border-top: 1px solid #444;
  padding-top: var(--vg);
}