.story {
  display: grid;
  gap: var(--vg);
}

.storyInfo {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 900px) {
  .story {
    grid-template-columns: 3fr 5fr;
    gap: 0;
  }

  .storyInfo {
    padding-right: 1rem;
  }
}

.hnTitle {
  font-size: 1rem;
}

.hnTitle:hover {
  color: var(--hn);
}

.link {
  color: lightgray;
}

.link:hover {
  color: white;
}

.summary {
  font-size: calc(1rem - 2px);
  font-style: italic;
  padding-right: 1rem;
}

.discussions > details:not(:first-of-type) {
  border-top: 1px solid #444;
  padding-top: var(--vg);
}
