.story {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1em;
}

.hnTitle {
  display: block;
  height: 2lh;
}

.dialog {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
}
