.story {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1em;
}

.imageBox {
  height: 10em;
  background-position: center;
  background-size: cover;
}

.title {
  display: block;
}
