.story {
  gap: var(--vg);
}

.hnTitle {
  font-size: 1rem;
}

.hnTitle:hover {
  color: var(--hn);
}

.summary {
  font-size: calc(1rem - 2px);
  font-style: italic;
  padding-right: 1rem;
}

.discussions > details:not(:first-of-type) {
  border-top: 1px solid #444;
  padding-top: var(--vg);
}
