.header {
  padding: calc(5 * var(--vg)) 0 calc(3 * var(--vg));
}

.article {
  width: var(--w);
  margin: auto;
}

.title {
  font-size: 1rem;
}

.back {
  padding: var(--vg);
  margin-left: calc(-1 * var(--vg));
  margin-right: 0.5rem;
}

.back:hover {
  background: rgba(0, 0, 0, 0.5);
}

.story {
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(2 * var(--vg));
  padding: var(--vg) 0;
}

@media screen and (min-width: 900px) {
  .story {
    grid-template-columns: 3fr 5fr;
    gap: 0;
  }
}

.hnTitle {
  font-weight: bold;
}

.hnTitle:hover {
  color: #f60;
}

.summary {
  font-size: calc(1rem - 2px);
  font-style: italic;
  padding-right: 1rem;
}

.discussions > details:not(:first-of-type)
  border-top: 1px solid #444;
  padding-top: var(--vg);
}
